<!-- 
<html>
  <head>
  <title>文件上传表单</title>
  </head>
  <body>
  <h3>文件上传：</h3>
  选择一个文件上传: <br />
  <form action="http://127.0.0.1:3000/selvet/file_upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" size="50" />
  <br />
  <input type="submit" value="上传文件" />
  </form>
  </body>
  </html>
   -->

   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瀑布流首页</title>
    <link rel="stylesheet" type="text/css" href="/Simditor/styles/simditor.css" />
</head>
<body>
  <div class="form-group">
    <label class="col-md-3 control-label">详情
      <span class="required"> * </span>
    </label>
  <div class="col-md-7" id="contextText">
<div class="form-group" align="center" id="nochecke">
   <textarea id="editor" type="text/plain"  hidden="true" autofocus>
   </textarea>
</div>
 </div>
 <button id="action">提交</button>
<div >
<input type="input" id="content" name="content" value=''>	
</div>
</div>   

   
<script type="text/javascript" src="/Simditor/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/Simditor/scripts/module.js"></script>
<script type="text/javascript" src="/Simditor/scripts/hotkeys.js"></script> 
<script type="text/javascript" src="/Simditor/scripts/uploader.js"></script> 
<script type="text/javascript" src="/Simditor/scripts/simditor.js"></script>
<script type="text/javascript" src="/javascripts/comment.js"></script>
</body>
</html>

 